.zip {
    color: white;
    font-size: 3.9em;
    text-shadow: .1em .1em .5em #373232;
}
.zip-marker {
    color: $primary;
    font-size: .7em;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0.3em;
}
.zip-pencil {
    color: $secondary;
    color: $secondary--transparent;
    font-size: .5em;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 0.4em;
}
.zip-pencil:hover {
    color: white;
    cursor: pointer;
}
.zip-edit {
    display: inline-block;
    width: 3em;
    height: 1.4em;
    font-size: .9em;
    margin: 0;
    padding: 0;
    padding-left: .1em;
}
.zip-edit.is-invalid {
    border: 1px solid $invalid;
}
.conditions {
    margin-top: -.2em;
    color: white;
    font-size: 1.5em;
    text-shadow: .1em .1em 1em $font-shadow-dark;
    text-shadow: .1em .1em 1em $font-shadow-dark--transparent;
}
@media (max-width: $screen-sm-min) {
    .zip-display {
        border-bottom: 2px $primary solid;
    }
}
