<div class="col-lg-1 col-md-2">
    <div class="js-day day row <%= activeClass %>">
        <div class="col-md-10 col-xs-3">
            <div class="day-label"><%= weekdayShort %></div>
        </div>
        <div class="col-md-10 col-xs-3">
            <img class="day-image" src="<%= iconUrl %>"></img>
        </div>
        <div class="col-md-5 col-xs-2">
            <span class="day-temperature day-temperature-high js-dayHighTemperature"><%= highTemp %></span>
        </div>
        <div class="col-md-5 col-xs-2">
            <span class="day-temperature day-temperature-low js-dayLowTemperature"><%= lowTemp %></span>
        </div>
    </div>
</div>
