<div class="row">
    <div class="col-xs-10 statistics-header">
        <%= headerText %>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        Conditions
    </div>
    <div class="col-xs-5">
        <%= condition %>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        Low
    </div>
    <div class="col-xs-5">
        <%= lowTemp %>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        High
    </div>
    <div class="col-xs-5">
        <span class="js-dayStatisticsHigh"><%= highTemp %></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        Snowfall
    </div>
    <div class="col-xs-5">
        <%= snow %>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        Humidity
    </div>
    <div class="col-xs-5">
        <%= averageHumidity %>%
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        Wind
    </div>
    <div class="col-xs-5">
        <%= windSpeed %> <%= windDirection %>
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        Precipitation
    </div>
    <div class="col-xs-5">
        <%= precipitation %>
    </div>
</div>
