<div class="row">
    <div class="col-xs-12 statistics-header">
        <%= headerText %>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Conditions
    </div>
    <div class="col-xs-6">
        <%= condition %>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Temperature
    </div>
    <div class="col-xs-6">
        <span class="js-hourStatisticsTemperature"><%= temp %></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Feels Like
    </div>
    <div class="col-xs-6">
        <%= feelsLike %>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Humidity
    </div>
    <div class="col-xs-6">
        <%= humidity %>%
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Dew Point
    </div>
    <div class="col-xs-6">
        <%= dewpoint %>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Wind
    </div>
    <div class="col-xs-6">
        <%= windSpeed %> <%= windDirection %>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Precipitation
    </div>
    <div class="col-xs-6">
        <%= precipitation %>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Heat Index
    </div>
    <div class="col-xs-6">
        <%= heatIndex %>
    </div>
</div>
