<div class="zip js-zip js-location-item">
    <span class="zip-marker js-zip-marker fa fa-map-marker"></span>
    <span class="zip-display js-zip-display js-display" <% if (!zip) { %>style="display:none"<% } %>>
        <%= zip %>
        <span class="zip-pencil fa fa-pencil hidden-xs-down"></span>
    </span>
    <input value="<%= zip %>" class="form-group form-control js-edit zip-edit" <% if (zip) { %>style="display:none"<% } %>>
    <span class="js-spinner spinner" style="display:none"><span class="fa fa-spinner fa-pulse"></span></span>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="conditions">
            <%= temperature %>
            <%= condition %>
        </div>
    </div>
</div>
